@font-face {
    font-family: LibreBaskervilleRegular;
    src: url('./LibreBaskerville-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: LibreBaskervilleRegular;
}

#header{
    background-color: aqua;
    padding-left: 15px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    height: 10vh;
    box-shadow: 0px 20px 5px 0px;
    border-bottom: 1px solid black;
}

#content{
    background-color: darksalmon;
    height: 100vh;
}

#logo{
    position: relative;
    height: 70%;
    width: auto;
}

#appName{
    font-size: 2rem;
}

#project1-div {
    display: none;
}

#nav{
    background-color: aquamarine;
    height: 5vh;
    display: flex;
    align-items: flex-end;
    column-gap: 15px;
    padding-left: 15px;
    border-bottom: 1px solid black;
}

#nav div{
    border-bottom: 3px solid rgb(29, 134, 25);
}

#newProjectDiv{
    padding: 15px;
    background-color: beige;
}

#newProjectButton{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(127, 127, 250);
    box-shadow: 0px 3px 3px 0px;
    font-size: 0.9rem;
}

#allProjectsDiv{
    position: relative;
    background-color: beige;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    row-gap: 15px;
    column-gap: 15px;
    padding: 15px;
}

.card{
    background-color: rgb(239, 248, 152);
    border-radius: 10px;
    box-shadow: 0px 3px 3px 0px;
    display: grid;
    padding: 15px;
}

.buttonsDiv{
    display: grid;
    row-gap: 15px;
}

.cardButton{
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 2px 0px;
    font-size: 0.9rem;
}

.goTo{
    background-color: rgb(151, 240, 151);
}

.modify{
    background-color: rgb(127, 127, 250);
}

.delete{
    background-color: rgb(223, 83, 83);
}